/* header.component.scss */

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  // Styles pour le logo
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  // Styles pour les informations de l'utilisateur
}
